## EGA SULFIKA - 2009106011

## Import Package

In [3]:
import pandas as pd
import pandas as pdf
from prettytable import PrettyTable
from tabulate import tabulate

In [4]:
dataset= pd.read_csv("collegePlace.csv")

## Informasi jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe angka, jumlah attribute yang memiliki nilai null.

In [11]:
dataset.head()

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,Male,Electronics And Communication,1,8,1,1,1
1,21,Female,Computer Science,0,7,1,1,1
2,22,Female,Information Technology,1,6,0,0,1
3,21,Male,Information Technology,0,8,0,1,1
4,22,Male,Mechanical,0,8,1,0,1

In [14]:
# Jumlah record
Jumlah_record = len(dataset)
print(Jumlah_record)

2966

In [9]:
# Nama atribut
nama_atribut = list(dataset.columns)
print(nama_atribut)

['Age', 'Gender', 'Stream', 'Internships', 'CGPA', 'Hostel', 'HistoryOfBacklogs', 'PlacedOrNot']

In [10]:
# Jumlah atribut dengan tipe objek
jumlah_objek = len(dataset.dtypes[dataset.dtypes == 'object'])
print(jumlah_objek)

2

In [12]:
# jumlah atribut dengan tipe angka
jumlah_int   = len(dataset.dtypes[dataset.dtypes == 'int64'])
jumlah_float = len(dataset.dtypes[dataset.dtypes == 'float64'])
jumlah_angka = jumlah_int + jumlah_float
print(jumlah_angka)

6

In [13]:
#jumlah atribut dengan nilai null
dataset.isna().any().sum()

0

## Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [21]:
#Jumlah record
Jumlah_record = len(dataset)

# Nama atribut
nama_atribut = list(dataset.columns)
nama_atribut = ",\n".join(nama_atribut)

# Jumlah atribut dengan tipe objek
jumlah_objek = len(dataset.dtypes[dataset.dtypes == 'object'])

# jumlah atribut dengan tipe angka
jumlah_int   = len(dataset.dtypes[dataset.dtypes == 'int64'])
jumlah_float = len(dataset.dtypes[dataset.dtypes == 'float64'])
jumlah_angka = jumlah_int + jumlah_float
print(jumlah_angka)

#jumlah atribut dengan nilai null
jumlah_null =dataset.isna().any().sum()


dictionary = {
    "Jumlah Record":[Jumlah_record],
    "Nama Atribut" : [nama_atribut],
    "Jumlah atribut dengan tipe objek" : [jumlah_objek],
    "Jumlah atribut dengan tipe angka" : [jumlah_angka],
    "Jumlah atribut dengan nilai null" : [jumlah_null],
    
}

tabu = pd.DataFrame(dictionary)
print(tabulate(tabu, headers='keys', tablefmt='psql',showindex=False))

6
+-----------------+--------------------+------------------------------------+------------------------------------+------------------------------------+
|   Jumlah Record | Nama Atribut       |   Jumlah atribut dengan tipe objek |   Jumlah atribut dengan tipe angka |   Jumlah atribut dengan nilai null |
|-----------------+--------------------+------------------------------------+------------------------------------+------------------------------------|
|            2966 | Age,               |                                  2 |                                  6 |                                  0 |
|                 | Gender,            |                                    |                                    |                                    |
|                 | Stream,            |                                    |                                    |                                    |
|                 | Internships,       |                                    |                                    |                                    |
|                 | CGPA,              |                                    |                                    |                                    |
|                 | Hostel,            |                                    |                                    |                                    |
|                 | HistoryOfBacklogs, |                                    |                                    |                                    |
|                 | PlacedOrNot        |                                    |                                    |                                    |
+-----------------+--------------------+------------------------------------+------------------------------------+------------------------------------+

## Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [22]:
dataset.describe()

,Age,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
count,2966.000000,2966.000000,2966.000000,2966.000000,2966.000000,2966.000000
mean,21.485840,0.703641,7.073837,0.269049,0.192178,0.552596
std,1.324933,0.740197,0.967748,0.443540,0.394079,0.497310
min,19.000000,0.000000,5.000000,0.000000,0.000000,0.000000
25%,21.000000,0.000000,6.000000,0.000000,0.000000,0.000000
50%,21.000000,1.000000,7.000000,0.000000,0.000000,1.000000
75%,22.000000,1.000000,8.000000,1.000000,0.000000,1.000000
max,30.000000,3.000000,9.000000,1.000000,1.000000,1.000000

## Tampilkan nilai korelasi attribute bertipe angka.

In [23]:
dataset.select_dtypes(include=['int64', 'float64']).corr()

,Age,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
Age,1.000000,0.006552,-0.119787,0.003042,-0.042586,0.046943
Internships,0.006552,1.000000,0.023496,0.004617,-0.015118,0.179334
CGPA,-0.119787,0.023496,1.000000,0.014991,0.002576,0.588648
Hostel,0.003042,0.004617,0.014991,1.000000,0.103506,-0.038182
HistoryOfBacklogs,-0.042586,-0.015118,0.002576,0.103506,1.000000,-0.022337
PlacedOrNot,0.046943,0.179334,0.588648,-0.038182,-0.022337,1.000000

## Rubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

In [30]:
## melihat tipe awal
dataset.dtypes

Age                   int64
Gender               object
Stream               object
Internships           int64
CGPA                  int64
Hostel                int64
HistoryOfBacklogs     int64
PlacedOrNot           int64
dtype: object

In [31]:
dataset["CGPA"] = dataset["CGPA"].astype("float64")
dataset.dtypes

Age                    int64
Gender                object
Stream                object
Internships            int64
CGPA                 float64
Hostel                 int64
HistoryOfBacklogs      int64
PlacedOrNot            int64
dtype: object

## Tampilkan 10 record pertama dari attribute bertipe angka.

In [32]:
dataset.select_dtypes(include=['int64', 'float64']).head(10)

   Age  Internships  CGPA  Hostel  HistoryOfBacklogs  PlacedOrNot
0   22            1   8.0       1                  1            1
1   21            0   7.0       1                  1            1
2   22            1   6.0       0                  0            1
3   21            0   8.0       0                  1            1
4   22            0   8.0       1                  0            1
5   22            0   6.0       0                  0            0
6   21            0   7.0       0                  1            0
7   21            1   7.0       0                  0            0
8   21            2   6.0       0                  0            1
9   21            1   6.0       1                  0            0

## Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

In [33]:
dataset.select_dtypes(include=['int64', 'float64']).to_csv("Postest2.csv", index=False)